<!DOCTYPE html>
<html ng-app="langtonsant">
	<head>
		<title>Langton's Ant</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/langtonsant.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/services.js"></script>
		<style>
	
			/* Styling needed for a fullscreen canvas and no scrollbars. */
			body, html { 
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
			}

			#antcanvas { 
				display:block;
			}


			#controls {
				width: 250px;
				position: fixed;
				left: 20px;
				top: 20px;
				background: #cdcdcd;
				opacity: 10%;
			}

            #locationControls {
                width: 250px;
                position: fixed;
                right: 20px;
                top: 20px;
            }

			#info {
				position: fixed;
				bottom: 0;
				right: 0;
				margin-bottom: 20px;
				margin-right: 20px;
			}
		</style>
	</head>
<body>
	<canvas id="antcanvas"></canvas>
	<div id="controls" ng-controller="MainController as main">
		<div>
			<button type="button" ng-click="main.getCurrentState() == 'running' ? main.pause() : main.run()"
                    class="btn btn-default">
                <span ng-show="main.getCurrentState() == 'running'" class="glyphicon glyphicon-pause"></span>
                <span ng-show="main.getCurrentState() != 'running'" class="glyphicon glyphicon-play"></span>
			</button>
            <button type="button" ng-click="main.reset()"
                    class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" ng-click="main.toggleShowSettings()"
                    class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
		</div>
		<div id="advanced" ng-show="main.showSettings">
            <p><label for="tps">Ticks/second</label>
            	<input id="tps" type="text" ng-model="main.tickFrequency"></p>
            <p>Ticks: {{main.currentTicks}}<br />
                Status: {{main.getCurrentState() }} <br />
            	Universe Bounds: {{main.info.currentMinX}} &lt; x &lt; {{main.info.currentMaxX}}<br />
            	{{main.info.currentMinY}} &lt; y &lt; {{main.info.currentMaxY}}</p>
            	<p>Ant: ({{main.info.antX}}, {{main.info.antY}})</p>
            	<table>
            		<thead>
            			<tr><td>Direction</td><td>Colour</td><td></td></tr>
            		</thead>
            		<tr ng-repeat="state in main.states">
            			<td>{{state.direction}}</td>
            			<td>{{state.colour}}</td>
            			<td><a href="" ng-click="main.removeState(state)">X</a></td>
            		</tr>
            		<tr>
            			<td><input type="text" ng-model="main.newState.direction" /></td>
            			<td><input type="text" ng-model="main.newState.colour" /></td>
            			<td><a href="" ng-click="main.addState()">Add</a></td>
            		</tr>
            	</table>
		</div>
        <div id="locationControls">
            <table>
                <tr>
                    <td></td>
                    <td><button class="btn btn-default" title="Move Up" ng-click="main.moveUp()"><span class="glyphicon glyphicon-arrow-up"></span></button></td>
                    <td></td>
                    <td><button class="btn btn-default" title="Zoom In"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-default" title="Move Left" ng-click="main.moveLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button></td>
                    <td><button class="btn btn-default" title="Go to Centre" ng-click="main.moveOrigin()"><span class="glyphicon glyphicon-move"></span></button></td>
                    <td><button class="btn btn-default" title="Move Right"  ng-click="main.moveRight()"><span class="glyphicon glyphicon-arrow-right"></span></button></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-default" title="Move Down" ng-click="main.moveDown()"><span class="glyphicon glyphicon-arrow-down"></span></button></td>
                    <td></td>
                    <td><button class="btn btn-default" title="Zoom Out"><span class="glyphicon glyphicon-zoom-out"></span></button></td>
                </tr>
            </table>
        </div>
	</div>
	<div id="info">
		<p>	<a href="http://github.com/dwmkerr/langtonsant">langton's ant on github</a> | 
			<a href="http://www.dwmkerr.com/experiments">more experiments</a> | <a href="http://www.dwmkerr.com">dwmkerr.com</a></p>
	</div>

	<script>

		function redraw() {
            // try and get the service injector. if we can, we can re-render.
            var scope = angular.element(document.getElementById('antcanvas')).scope();
            if(scope !== null && scope !== undefined) {
                scope.render();
            }
		}

		//	Setup the canvas.
		var canvas = document.getElementById("antcanvas");
		function sizeCanvasToWindow() {
			canvas.width = window.innerWidth;
			canvas.height = window.innerHeight;
		}

		window.addEventListener('resize', function resize(event) {
			sizeCanvasToWindow();
			redraw();
		});
		sizeCanvasToWindow();

		document.addEventListener("DOMContentLoaded", redraw(), false);

	</script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41728580-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>