<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Langton's Ant</title>
		<link rel="stylesheet" type="text/css" href="css/core.css">
		<link rel="stylesheet" type="text/css" href="css/typeography.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/langtonsant.js"></script>
        <script src="js/langtonsAntController.js"></script>
		<style>
	
			/* Styling needed for a fullscreen canvas and no scrollbars. */
			body, html { 
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
			}

			#antcanvas { 
				display:block;
			}


			#controls {
				width: 250px;
				position: fixed;
				left: 20px;
				top: 20px;
				background: #cdcdcd;
				opacity: 10%;
			}

			#info {
				position: fixed;
				bottom: 0;
				right: 0;
				margin-bottom: 20px;
				margin-right: 20px;
			}
		</style>
	</head>
<body>
	<canvas id="antcanvas"></canvas>
	<div id="controls" ng-controller="LangtonsAntController">
		<div id="toolbar">
			<button type="button" ng-click="start()">Start</button>
			<a href="" ng-click="start()">Start</a>
			<a href="" ng-click="reset()">Reset</a>
		</div>
		<div id="advanced">
            <p><label for="fps">Frames/second</label>
            	<input type="text" ng-model="drawFrequency"></p>
            <p><label for="tps">Ticks/second</label>
            	<input type="text" ng-model="tickFrequency"></p>
		</div>
	</div>
	<div id="info">
		<p>	<a href="http://github.com/dwmkerr/langtonsant">langton's ant on github</a> | 
			<a href="http://www.dwmkerr.com/experiments">more experiments</a> | <a href="http://www.dwmkerr.com">dwmkerr.com</a></p>
	</div>

	<script>

		//	Setup the canvas.
		var canvas = document.getElementById("antcanvas");

		function sizeCanvasToWindow() {
			canvas.width = window.innerWidth;
			canvas.height = window.innerHeight;
		}

		window.addEventListener('resize', function resize(event) {
			sizeCanvasToWindow();
		    self.draw(); 
		});
		sizeCanvasToWindow();

	</script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41728580-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>