<div id="controls">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <!-- Decrease Speed -->
        <button
          type="button"
          ng-click="main.decreaseSpeed()"
          class="btn btn-default"
          >
          <span class="glyphicon glyphicon-backward"></span>
        </button>

        <!-- Play / Pause -->
        <button
         type="button"
         ng-click="main.getCurrentState() == 'running' ? main.pause() : main.run()"
         class="btn btn-default"
         >
         <span ng-show="main.getCurrentState() == 'running'" class="glyphicon glyphicon-pause"></span>
         <span ng-show="main.getCurrentState() != 'running'" class="glyphicon glyphicon-play"></span>
        </button>

        <!-- Step Forwards -->
        <button
          type="button"
          ng-click="main.tick()"
          class="btn btn-default"
          >
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>

        <!-- Increase Speed -->
        <button
          type="button"
          ng-click="main.increaseSpeed()"
          class="btn btn-default"
          >
          <span class="glyphicon glyphicon-forward"></span>
        </button>

        <button type="button" ng-click="main.reset()"
                              class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
        <button type="button" data-toggle="collapse" data-target="#collapseSettings"
                                                     class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
      </div>
    </div>
    <div id="collapseSettings" class="panel-collapse collapse">
      <div class="panel-body">

        <div class="row">
          <form class="form-horizontal" role="form">
            <!-- Controls the ticks. -->
            <div class="form-group">
              <label for="tps" class="col-sm-5 control-label">Ticks/Sec</label>
              <div class="col-sm-5">
                <input
                  type="text"
                  class="form-control"
                  id="tps"
                  ng-model="main.tickFrequency"
                  ng-change="main.frequencyChanged()"
                >
              </div>
            </div>

            <!-- Controls the randomness. -->
            <div class="form-group">
              <label for="randomness" class="col-sm-5 control-label">Randomness</label>
              <div class="col-sm-5">
                <div class="input-group">
                  <input type="text" class="form-control" id="randomness" ng-model="main.randomness">
                  <div class="input-group-addon">%</div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <p>The table below defines the laws of the Universe. The ant moves one space
        forwards. When it leaves a square, it turns left or right depending on the colour
        of the square. It then changes the colour of the square to the next in the list.</p>

        <table class="table">
          <thead>
            <tr>
              <td>Direction</td>
              <td>Colour</td>
              <td></td>
            </tr>
          </thead>
          <tr ng-repeat="state in main.states">
            <div class="row">
              <td class="col-sm-4"><la-leftright value="state.direction"></la-leftright></td>
              <td class="col-sm-7"><la-colourpicker colour="state.colour"></la-colourpicker></td>
              <td class="col-sm-1"><a href="" ng-hide="$first" ng-click="main.removeState(state)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </div>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="" ng-click="main.addState()"><span class="glyphicon glyphicon-plus"></span></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="locationControls">
    <table>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-default" title="Move Up" ng-click="main.moveUp()"><span
                                                          class="glyphicon glyphicon-arrow-up"></span></button>
        </td>
        <td></td>
        <td>
          <button class="btn btn-default" title="Zoom In" ng-click="main.zoomIn()"><span
                                                          class="glyphicon glyphicon-zoom-in"></span></button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-default" title="Move Left" ng-click="main.moveLeft()"><span
                                                            class="glyphicon glyphicon-arrow-left"></span></button>
        </td>
        <td>
          <button class="btn btn-default" title="Go to Centre" ng-click="main.moveOrigin()"><span
                                                               class="glyphicon glyphicon-move"></span></button>
        </td>
        <td>
          <button class="btn btn-default" title="Move Right" ng-click="main.moveRight()"><span
                                                             class="glyphicon glyphicon-arrow-right"></span></button>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-default" title="Move Down" ng-click="main.moveDown()"><span
                                                            class="glyphicon glyphicon-arrow-down"></span></button>
        </td>
        <td></td>
        <td>
          <button class="btn btn-default" title="Zoom Out" ng-click="main.zoomOut()"><span
                                                           class="glyphicon glyphicon-zoom-out"></span></button>
        </td>
      </tr>
    </table>
  </div>
</div>
